{% extends 'app/base.html' %} {% block content %}

<div class="content container-md mb-3" style="margin-top: 15px">
  <h2>Psi({{ dogs.count }})</h2>
  <div class="row row-cols-auto justify-content-center">
    {% for dog in dogs %} {% if not dog.is_adopted %}
    <div class="col" style="margin-bottom: 15px">
      <div class="card" style="width: 18rem">
        <img src="{{ dog.avatar_url }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ dog.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Starost: {{ dog.age }} godina</li>
          <li class="list-group-item">Pasmina: {{ dog.type.breed }}</li>
        </ul>
        <div class="card-body d-flex justify-content-center">
          <a
            href="{% url 'app:animalDetails' dog.id %}"
            class="card-link"
            style="text-decoration: none"
          >
            <button type="button" class="btn btn-success">Detalji</button>
          </a>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  <h2>Mačke({{ cats.count }})</h2>
  <div class="row row-cols-auto justify-content-center">
    {% for cat in cats %} {% if not cat.is_adopted %}
    <div class="col" style="margin-bottom: 15px">
      <div class="card" style="width: 18rem">
        <img src="{{ cat.avatar_url }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ cat.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Starost: {{ cat.age }} godina</li>
          <li class="list-group-item">Pasmina: {{ cat.type.breed }}</li>
        </ul>
        <div class="card-body d-flex justify-content-center">
          <a href="{% url 'app:animalDetails' cat.id %}" class="card-link">
            <button type="button" class="btn btn-success">Detalji</button>
          </a>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  {% endblock %}
</div>
