{% extends 'app/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
		  <img src="{{ animal.avatar_url }}">
	  </div>
    <div class="col-sm-4">
      <h1 style="text-align: center;">{{animal.name}}</h1>
      <p>{{ animal.description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>Težina životinje: {{ animal.weight }}</p>
      <p>Visina životinje: {{ animal.height }}</p>
      <p>Spol: {{ animal.gender }}</p>
    </div>
    <div class="col-sm">
      {% if not user.is_authenticated %}
      <p>Prijavi se kako mogao poslati zahjtev za udomljavanje!</p>
      {% else %}
      <p>Kako bi udomio životinju, pošalji zahjev u kojem objašnjavaš zašto si ti idealna osoba za udomit novog prijatelja</p>
      {% endif %}
    </div>
    <div class="col-sm">
      {% csrf_token %}
      {% if not user.is_authenticated %}
      <form action="{% url 'app:new_request' animal.id %}" method="post">
      <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Zahjtev za udomljavanje"
						aria-describedby="inputGroup-sizing-default" name="text" id="" style="margin-bottom:10px" disabled>
					<input type="submit" class="btn btn-success" value="Podnesi zahjtev" disabled>
          </form>
      {% else %}
      {% if not request %}
      
        <form action="{% url 'app:new_request' animal.id %}" method="post">
      <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Zahjtev za udomljavanje"
						aria-describedby="inputGroup-sizing-default" name="text" id="" style="margin-bottom:10px">  
          <input type="submit" class="btn btn-success" value="Podnesi zahjtev">
          {% csrf_token %}
          </form>
      {% else %}
          <p>Status zahjteva: {{ request.status }}</p>
          {% endif %}
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}