{% extends 'app/base.html' %} {% block content %} {% if user.is_superuser %}
<table class="table table-hover table-success caption-top">
  <caption style="color: green">
    ODOBRENI
  </caption>
  <thead>
    <tr>
      <th scope="col">Id zahtjeva</th>
      <th scope="col">Id životinje</th>
      <th scope="col">Ime životinje</th>
      <th scope="col">Pasmina</th>
      <th scope="col">Id osobe</th>
      <th scope="col">Oib</th>
      <th scope="col">Ime</th>
      <th scope="col">Prezime</th>
    </tr>
  </thead>
  <tbody>
    {% for request in approved %}
    <tr>
      <th scope="row">{{ request.id }}</th>
      <td>
        <a href="{% url 'app:animalDetails' request.animal_id.id %}"
          >{{ request.user_id.id }}
        </a>
      </td>
      <td>{{ request.animal_id.name }}</td>
      <td>{{ request.animal_id.type.breed }}</td>
      <td>
        <a href="{% url 'app:profile' request.user_id.id %}"
          >{{ request.user_id.id }}
        </a>
      </td>
      <td>{{ request.user_id.oib }}</td>
      <td>{{ request.user_id.first_name }}</td>
      <td>{{ request.user_id.last_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-hover table-danger caption-top">
  <caption style="color: red">
    ODBIJENI
  </caption>
  <thead>
    <tr>
      <th scope="col">Id zahtjeva</th>
      <th scope="col">Id životinje</th>
      <th scope="col">Ime životinje</th>
      <th scope="col">Pasmina</th>
      <th scope="col">Id osobe</th>
      <th scope="col">Oib</th>
      <th scope="col">Ime</th>
      <th scope="col">Prezime</th>
    </tr>
  </thead>
  <tbody>
    {% for request in declined %}
    <tr>
      <th scope="row">{{ request.id }}</th>
      <td>
        <a href="{% url 'app:animalDetails' request.animal_id.id %}"
          >{{ request.user_id.id }}
        </a>
      </td>
      <td>{{ request.animal_id.name }}</td>
      <td>{{ request.animal_id.type.breed }}</td>
      <td>
        <a href="{% url 'app:profile' request.user_id.id %}"
          >{{ request.user_id.id }}
        </a>
      </td>
      <td>{{ request.user_id.oib }}</td>
      <td>{{ request.user_id.first_name }}</td>
      <td>{{ request.user_id.last_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
