{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/fd2c1f0f0a.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'app/css/app.css' %}" />
    {{ form.media }}
  </head>
  <body style="overflow-x: hidden; background-color: white">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'app:index' %}"
                >Početna</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'app:adopt' %}"
                >Udomi</a
              >
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="/admin">AdminDashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Kontrola
              </a>
              {% endif %}
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'app:requests' %}"
                    >Zahtjevi</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'app:archive' %}"
                    >Arhiva</a
                  >
                </li>

                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="{% url 'app:addAnimal' %}"
                    >DodajŽivotinju</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'app:addBreed' %}"
                    >DodajPasminu</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <form
                class="d-flex"
                method="post"
                action="{% url 'app:searchAnimals' %}"
              >
                {% csrf_token %}
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Upišite pasminu"
                  aria-label="Search"
                  name="searchBreed"
                />
                <button class="btn btn-outline-success" type="submit">
                  Traži
                </button>
              </form>
            </li>
          </ul>

          {% if user.is_authenticated %}
          <a
            class="nav-link login-btn"
            href="{% url 'app:profile' user.id %}"
            style="padding: 0px 10px 0px"
            >Profil</a
          >
          <a
            class="nav-link login-btn"
            href="{% url 'authentication:logout' %}"
            style="padding: 0px 10px 0px"
            >Odjava</a
          >
          {% else %}
          <a
            id="login-link"
            class="nav-link login-btn"
            href="{% url 'login' %}"
            style="padding: 0px 10px 0px"
            >Prijava</a
          >
          <a
            class="nav-link signup-btn"
            href="{% url 'authentication:signup' %}"
            style="padding: 0px 10px 0px"
            >Registracija</a
          >
          {% endif %}
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              const loginLink = document.getElementById("login-link");
              if (loginLink) {
                const currentUrl = window.location.href;
                loginLink.href =
                  `{% url 'login' %}?next=` + encodeURIComponent(currentUrl);
              }
            });
          </script>
        </div>
      </div>
    </nav>
    <main style="margin: 20px">{% block content %} {% endblock %}</main>
  </body>
</html>
